{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}
<title>เพิ่มข้อมูลพนักงานใหม่</title>
{% endblock %} {% block content %}
<h2 class="text-center">เพิ่มข้อมูลพนักงานใหม่</h2>
<form method="POST" enctype="multipart/form-data">
  <!--enctype เป็นแบบฟอร์มเพิ่มข้อมูลพนักงานสามารถอัพโหลดได้ -->
  {% csrf_token %} 
    {{ form|crispy }}
    <div class="d-flex justify-content-center mt-2">
      <button type="submit" class="btn btn-primary my-2 px-4">บันทึก</button>
    </div>
</form>
{% endblock %}
